<h3><%= t("mailers.invoice.overdue.greeting", name: @invoice.client.name.presence || @invoice.client.email) %></h3>
<p><%= t("mailers.invoice.overdue.body_html",
  number: @invoice.number,
  amount: sprintf("%s %.2f", @invoice.currency, @invoice.total_cents.to_f / 100.0),
  due_date: l(@invoice.due_date)) %></p>
<p><%= link_to t("mailers.invoice.common.view_invoice"), invoice_url(@invoice) %></p>
<p><%= t("mailers.invoice.common.signature", app: t("app.name")) %></p>
