<% flash.each do |type, msg| %>
  <% bs = { notice: "info", alert: "warning", error: "danger", success: "success" }[type.to_sym] || "info" %>
  <div class="alert alert-<%= bs %> alert-dismissible fade show" role="alert">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end %>
